<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store" />

    <title>Config Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container" style="padding: 16px 16px;">
    <div class="row">
        <div class=".col-md-3 .offset-md-3">

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Information</h2></div>
                <div class="panel-body">
                    <p th:text="'PCF Info:   ' + ${applicationName} + '@' + ${spaceName}"></p>
                    <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/info'" >Info Actuator</button>
                    <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/health'" >Health Actuator</button>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Logging</h2></div>
                <div class="panel-body">
                    <p>Assuming correct Slack setup, Errors / Exceptions will cause a Slack Alerts.</p>
                    <button type="button" class="btn btn-warning" onclick='$.get("logging/exception")' >Cause JVM (Server-Side) Runtime Exception</button>
                    <button type="button" class="btn btn-warning" onclick='throw "JS (Client-Side) Error"' >Cause JS (Client-Side) Error </button>
                    <button type="button" class="btn btn-info" onclick="window.location.href='/actuator/logfile'" >Logfile Actuator</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>