<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store" />

    <title>Config Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container" style="padding: 16px 16px;">
    <div class="row">
        <div class=".col-md-3 .offset-md-3">

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Information</h2></div>
                <div class="panel-body">
                    <p th:text="'Greeting Message:   ' + ${greetingMessage}"></p>
                    <p th:text="'Number Value:   ' + ${numberValue}"></p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h2>Configuration</h2></div>
                <div class="panel-body">
                    <p>Call Refresh endpoint.</p>
                    <button type="button" class="btn btn-warning" onclick='$.get("actuator/refresh")' >Refresh properties</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>